<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507504625880-4a4ct9qp3amtnat11cgf3iptm55bslvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507504625880-4a4ct9qp3amtnat11cgf3iptm55bslvo</string>
	<key>API_KEY</key>
	<string>AIzaSyDntH-ks7Y5PivzhMSle3EESps7VG6ujqc</string>
	<key>GCM_SENDER_ID</key>
	<string>507504625880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f.iori1002.MusicListApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-88035</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-88035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:507504625880:ios:4632558acd01c1589f2fad</string>
</dict>
</plist>
